@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ml3b70');
  src:  url('../fonts/icomoon.eot?ml3b70#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ml3b70') format('truetype'),
    url('../fonts/icomoon.woff?ml3b70') format('woff'),
    url('../fonts/icomoon.svg?ml3b70#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-next:before {
  content: "\e908";
}
.icon-staff:before {
  content: "\e60e";
}
.icon-envelope:before {
  content: "\e61d";
}
.icon-close:before {
  content: "\e605";
}
.icon-social-facebook:before {
  content: "\e603";
}
.icon-social-twitter:before {
  content: "\e604";
}
.icon-menu:before {
  content: "\e602";
}
.icon-arrow-right:before {
  content: "\e606";
}
.icon-arrow-right:after {
  content: "\e606";
}
.icon-arrow-left:before {
  content: "\e607";
}
.icon-arrow-left:after {
  content: "\e607";
}
.icon-arrow-down:before {
  content: "\e608";
}
.icon-arrow-up:before {
  content: "\e609";
}
.icon-libro:before {
  content: "\e900";
}
.icon-companeros:before {
  content: "\e901";
}
.icon-prev:before {
  content: "\e902";
}
.icon-podio:before {
  content: "\e903";
}
.icon-mail-ok:before {
  content: "\e904";
}
.icon-advertencia:before {
  content: "\e905";
}
.icon-conferencia:before {
  content: "\e906";
}
.icon-edificio:before {
  content: "\e907";
}
.icon-search:before {
  content: "\e612";
}
.icon-location:before {
  content: "\e600";
}
.icon-phone:before {
  content: "\e60a";
  color: #444;
}
.icon-youtube:before {
  content: "\e601";
}

