.header-wrap
	.header-fixed
		.header-bg
		.header-cnt
			a(href="home.html").header-logo
				img.header-logo-desktop(src=`${STATIC_URL}img/header-logo.svg`, alt="")
				img.header-logo-scroll(src=`${STATIC_URL}img/header-logo-scroll.svg`, alt="")
			.header-cnt-list
				ul.header-list
					li.header-item
						a.header-link(href="nosotros.html") Nosotros
					li.header-item
						a.header-link(href="elegirnos.html") ¿Por qué Elegirnos?
					li.header-item
						a.header-link(href="servicios.html") Servicios
					li.header-item
						a.header-link(href="atletas.html") Atletas
					li.header-item
						a.header-link(href="clientes.html") Clientes
					li.header-item
						a.header-link(href="contacto.html") Contacto
				.header-languages
					.header-languages-select
						select
							option(value="español") ESPAÑOL
							option(value="ingles") INGLES


//- header menu responsive
.menu-mobile-open.icon-menu
.menu-mobile-close.icon-close

.header-menu-overlay
.menu-sidebar
	.menu-sidebar-cnt