extends ./_common/base.pug

block content
	section.b1
		ul.b1-bxslider
				li.b1-bgc-image(style=`background-image: url('${STATIC_URL}img/banner_bgc.png');`)
						.b1-info
								.b1-flex
										h2 A TU LADO, TE ACOMPAÑAMOS EN EL CAMINO HACIA TUS SUEÑOS