extends ./_common/base.pug

block content
	button.btn.btn-primary(type='button', data-toggle='modal', data-target='#exampleModal')
		|	Abogado
	.b11-fancy
		#exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
			.modal-dialog(role='document')
				.modal-content
					.modal-header
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') ×
					.modal-body
						section.b11
							.b11-wrapp
								.b11-content
									h2 Hernán Gómez Pretto
									h3 Abogado por la Universidad de Lima (Perú)
									p Postgrado FIFA/CIES - Derecho y Management Deportivo en la Universidad Católica de Buenos Aires (Argentina)
	button.btn.btn-primary(type='button', data-toggle='modal', data-target='#exampleModal1')
		|	Adecore
	.b11fancy2
		#exampleModal1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModal1Label', aria-hidden='true')
			.modal-dialog(role='document')
				.modal-content
					.modal-header
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') ×
					.modal-body
						section.b11
							.b11-wrapp
								.b11-content2
									img(src="assets/img/adecore_logo.png", width='122', height='182')
									h2  Adecore  
									span (Asociación Deportiva de Colegios Religiosos)
									p Organizador del mega-evento deportivo escolar privado mas importante del Perú.60 colegios. Mas de 9,500 competidores en sus diferentes disciplinas.


				
					

	
















