extends ./_common/base.pug

block content
	section.b6


			.b6-texto
				.b6-content
					span.icon-mail-ok.carta-peque-top
					span.icon-mail-ok.carta-grande-top
					span.icon-mail-ok.carta-peque-bottom
					span.icon-mail-ok.carta-grande-bottom
					h2 GRACIAS
					.b6-fondo
						h2 GRACIAS
					h3 Mensaje Enviado
					p Gracias por enviarnos tu mensaje, nos estaremos comunicando contigo lo antes posible, puedes regresar a la página principal o quizás encuentres lo que buscabas.


