extends ./_common/base.pug

block content
	section.b6

			.b6-texto
				.b6-content
					span.icon-advertencia.carta-peque-top
					span.icon-advertencia.carta-grande-top
					span.icon-advertencia.carta-peque-bottom
					span.icon-advertencia.carta-grande-bottom
					h2 ERROR
					.b6-fondo
						h2 ERROR
					h3 Esta Página No Existe
					p Al parecer la página que estas buscando se rompióo no existe, porque no intestas volver a la página principal o quizás encuentres lo que buscabas.