extends ./_common/base.pug

block content
	.wrapper
		section.b1
			ul.b1-bxslider
					li.b1-bgc-image(style=`background-image: url('${STATIC_URL}img/banner_bgc.png');`)
							.b1-info
									.b1-flex
											h2 A TU LADO, TE ACOMPAÑAMOS EN EL CAMINO HACIA TUS SUEÑOS

		.wrapper_blocks.ww--overflow
			section.nosotros_block.nn--height_full.section--anima_box
				.nostros_main.n--center
					article.nostros_info.n--infoleft
						span.nosotros_title.n--title_right
							|NOSOTROS
						h2.n--subtitle Formando Lideres en Deporte
						.n_text.n--contenido
							p “Una empresa que tiene propósitos muy presentes: es ser un elemento activo para el crecimiento deportivo nacional. Y ser un socio para que el deportista, empresa y/o institución deportiva alcance sus metas. 
							p Somos una empresa perua na especializada en el management deportivo, con ganas en nuestra labor: colaborar con el desarrollo del deporte y de nuestros clientes.
							p HGP ofrece servicios para la elaboración y ejecución de proyectos en empresas e instituciones ligadas al deporte, tanto privadas como públicas, como clubes o federaciones, y a profesionales del deporte en cualquier disciplina. Todos ellos, tanto a nivel nacional como internacional.
							p Sabemos que el deporte, además de ser una industria, es una herramienta clave para el desarrollo social, cultural y económica de un país. Esa es nuestra filosofía.”
						h3.n--text_red Encargado HGP
						.n_link.n--popup
							p
								|Hernán Gómez Pretto <a href="#", data-toggle='modal', data-target='#exampleModal'> leer más</a>
						h3.n--text_red Socios Estrategicos
						ul.nosotros_list.n--list
							li Social Coach (Argentina)
							li Ricardo Mituti (Brasil)
							li LFM Sports Agency (Argentina)
							li Asociación Cultural de Futbol Peruano (Perú)
					figure.nosotros_fig.n--img_right
						img(src="assets/img/img_nosotros1.png", width='365', height='544')
			section.elegirnos_block.ee--block_azul.section--anima_box
				span.ee-linea_right
				span.ee-linea_right2
				span.ee-linea_right3
				.ee-envolver_box
					.elegirnos_flex.ee--flex_center
						span.ee-title PROPOSITOS
						main.elegirnos_main.e--main_center
							.elegrnos_info.ee--info_center
								h2 ¿Por qué elegirnos?
								p Lorem ipsum dolor sit amet, ante wisi erat et vestibulum semper. Lacus cum et, duis dis viverra vestibulum sed viverra.
							.ee-itemsinner
								-for (var i = 0; i < 4; i++)
									.elegirnos_itm.ee--itm--style
										figure.ee-img
											img(src="assets/img/img-elegi1.png", width='114', height='114')
										.elegirnos_text.ee--textbox
											h3 Deportivo
											p Ser un actor activo para desarrollar deporte nacional y, de esta manera, ser competitivo a nivel internacional.
			section.servicios_block.ss--height_full
				.servicios_main.ss-main_center
					.ss--info
						h2 Nuestros Servicios
					.ss-slider
						ul.slidr--home_js
							-for (var i = 0; i < 4; i++)
								li
									.ss-itm
										figure.ss--img
											img(src="assets/img/ss-img1.png", width='336', height='330')
										.ss--itm_info
											h3 FEDERACIONES, CLUBES Y ORGANIZACIONES DEPORTIVAS EN GENERAL
											ul
												li - Asesoria Comercial /Marketing
												li - Asesoria Comercial /Marketing
												li - Asesoria Comercial /Marketing
												li - Asesoria Comercial /Marketing
												li - Asesoria Comercial /Marketing
											.servicios_btn.ss--bt_red
												a(href="") CONTACTANOS
						#slider_home--prev
						#slider_home--next

		.video__slider
			ul.video__slider__pitcher
				- for (var x = 0; x < 2; x++)
					li.video__slider_item(style=`background-image: url('${STATIC_URL}img/video__slider__fondo.jpg')`)
						article.video__slider_content
							.video__slider__title
								h2 Personalidades del Deporte
							.video__slider_wrap
								.video__slider__textarea
									.video__slider__subtitle
										h3 JAVIER <strong>MASCHERANO</strong>
									.video__slider__list
										ul
											li Jugador del FC Barcelona (España)
											li Seleccionado Argentino de futbol.
								a(href="https://www.youtube.com/watch?v=meBbDqAXago").video__slider__play
									span.video__slider__playcircle
										span.video__slider__playtext VER VIDEO
										span.video__slider__playicon
						.video__slider__textfoot
							h3 MASCHERANO

		section
			div.content_nosotros_logos
				div.text_nosotros
					h2 Confian en Nosotros
					p Lorem ipsum dolor sit amet, ante wisi erat et vestibulum semper. Lacus cum et, duis dis viverra vestibulum sed viverra.
					div.slick_icon
						div.logos_next_prev
							span.icon-prev
							span.icon-next
				div.content_g_logos
					ul.logos-content-slider
						- for (var y = 0; y < 2; y++)
							li.content_logos
								- for (var x = 0; x < 12; x++)
									div.marcas.logos
										img(src=`${STATIC_URL}img/logos_img_5.png`)
										div.mask
											div.logos_icon_info.icon-search
											a.info(href="#", data-toggle='modal', data-target='#exampleModal1') Más información

		//- Contacto
		section.seccion_contacto
			div.contacto_content_info
				div.contacto_title
					h2 Escríbenos, Ubícanos o Envíanos un Mensaje
				div.contacto_info
					div.info
						p Llámanos al:
						span 999 943 976
					div.info
						p Ubícanos en:
						span Av.Lorem 999 - Surco
					div.info
						p Escríbenos al:
						span info@hgp.pe
				div.contacto_form
					form.js-form-contact
						ul
							li.row
								div.content_input.col-sm-6
									input(type="text", class="form-control validate[required]", placeholder="Nombres y Apellidos:")
								div.content_input.col-sm-6
									input(type="text", class="form-control validate[required,custom[email]]", placeholder="E-mail:")
							li.row
								div.content_input.col-sm-6
									input(type="text", class="form-control validate[required,custom[phone]]", placeholder="Celular:")
								div.content_input.col-sm-6
									input(type="text", class="form-control validate[required]", placeholder="Asunto:")
							li
								div.content_textarea
									textarea(type="text", class="form-control validate[required]" placeholder="Mensaje:")
						div
							button.btn.btn-enlace.btn-red.js-btn-form Enviar

				div.derechos_staffdigital
					p HGP SPORTS 2017 Todos los Derechos Reservados
					p Diseño Web por: 
						strong staffdigital
						span.icon-staff

		.b11-fancy
				#exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
					.modal-dialog(role='document')
						.modal-content
							.modal-header
								button.close(type='button', data-dismiss='modal', aria-label='Close')
									span(aria-hidden='true') ×
							.modal-body
								section.b11
									.b11-wrapp
										.b11-content
											h2 Hernán Gómez Pretto
											h3 Abogado por la Universidad de Lima (Perú)
											p Postgrado FIFA/CIES - Derecho y Management Deportivo en la Universidad Católica de Buenos Aires (Argentina)

		.b11fancy2
			#exampleModal1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModal1Label', aria-hidden='true')
				.modal-dialog(role='document')
					.modal-content
						.modal-header
							button.close(type='button', data-dismiss='modal', aria-label='Close')
								span(aria-hidden='true') ×
						.modal-body
							section.b11
								.b11-wrapp
									.b11-content2
										img(src="assets/img/adecore_logo.png", width='122', height='182')
										h2  Adecore  
										span (Asociación Deportiva de Colegios Religiosos)
										p Organizador del mega-evento deportivo escolar privado mas importante del Perú.60 colegios. Mas de 9,500 competidores en sus diferentes disciplinas.

append scripts
	script.
		$(function() {
			$('.ee--itm--style').each(function(index, el){
				$(el).css('transition-delay', index/2 + 's');
			});
			$('.section--anima_box').each(function(index, el) {
				$(el).waypoint(function(direction) {
					if (direction === 'down') {
						$(el).addClass('active');
					}
				}, {
					offset:'30%'
				});
			});
			
			$(".js-form-contact").validationEngine('attach', {
		      promptPosition : "topLeft",
		      autoHidePrompt: true,
		      autoHideDelay: 3000,
		      binded: false,
		      scroll: false,
		      validateNonVisibleFields: true
		  });
      $('.js-btn-form').on('click', function(event) {
          event.preventDefault();
          var valid = $(".js-form-contact").validationEngine('validate');
          if (!valid) {
              //error
              return false;
          }
          else{
              //aqui hacer el envio ajax
              //return true;
              $(".js-form-contact").submit();
          }
      });
		});

	





