extends ./_common/base.pug

block content
	section
		div.content_nosotros_logos
			div.text_nosotros
				h2 Confian en Nosotros
				p Lorem ipsum dolor sit amet, ante wisi erat et vestibulum semper. Lacus cum et, duis dis viverra vestibulum sed viverra.
				div.slick_icon
					div.logos_next_prev
						span.icon-prev
						span.icon-next
			div.content_g_logos
				ul.logos-content-slider
					- for (var y = 0; y < 2; y++)
						li.content_logos
							- for (var x = 0; x < 12; x++)
								div.marcas.logos
									img(src=`${STATIC_URL}img/logos_img_5.png`)
									div.mask
										div.logos_icon_info.icon-search
										a.info(href="#") Más información

	//- Contacto
	section.seccion_contacto
		div.contacto_content_info
			div.contacto_title
				h2 Escríbenos, Ubícanos o Envíanos un Mensaje
			div.contacto_info
				div.info
					p Llámanos al:
					span 999 943 976
				div.info
					p Ubícanos en:
					span Av.Lorem 999 - Surco
				div.info
					p Escríbenos al:
					span info@hgp.pe
			div.contacto_form
				form
					ul
						li.row
							div.content_input.col-sm-6
								input(type="text" class="form-control" placeholder="Nombres y Apellidos:")
							div.content_input.col-sm-6
								input(type="text" class="form-control" placeholder="E-mail:")
						li.row
							div.content_input.col-sm-6
								input(type="text" class="form-control" placeholder="Celular:")
							div.content_input.col-sm-6
								input(type="text" class="form-control" placeholder="Asunto:")
						li
							div.content_textarea
								textarea(type="text" class="form-control" placeholder="Mensaje:")
					div
						a.btn.btn-enlace.btn-red( href='') Enviar

			div.derechos_staffdigital
				p HGP SPORTS 2017 Todos los Derechos Reservados
				p Diseño Web por: 
					strong staffdigital
					span.icon-staff

	