extends ./_common/base.pug

block content
	a(href="").modal__1__open OPEN MODAL-1
	.modal__1
		span.modal__1__overlay
		.modal__1__block
			.modal__1__content
				span.modal__1__close.icon-close
				.modal__1__title
					h1 Hernán Gómez Pretto
				.modal__1__text
					p Abogado por la Universidad de Lima (Perú)
					p Postgrado FIFA/CIES - Derecho y Management Deportivo en la Universidad Católica de Buenos Aires (Argentina)
