extends ./_common/base.pug

block content
	a(href="").modal__2__open OPEN MODAL-2
	.modal__2
		span.modal__2__overlay
		.modal__2__block
			.modal__2__content
				span.modal__2__close.icon-close
				figure.modal__2__img
					img(src=`${STATIC_URL}img/modal-2-img.jpg`, width="202", height="202" alt="")
				.modal__2__title
					h1 Adecore <br> (Asociación Deportiva <br> de Colegios Religiosos)
				.modal__2__text
					p Organizador del mega-evento deportivo escolar privado mas importante del Perú.
					p 60 colegios. Mas de 9,500 competidores en sus diferentes disciplinas.