extends ./_common/base.pug

block content
	.wrapper_blocks.ww--overflow
		section.nosotros_block.nn--height_full.section--anima_box
			.nostros_main.n--center
				article.nostros_info.n--infoleft
					span.nosotros_title.n--title_right
						|NOSOTROS
					h2.n--subtitle Formando Lideres en Deporte
					.n_text.n--contenido
						p “Una empresa que tiene propósitos muy presentes: es ser un elemento activo para el crecimiento deportivo nacional. Y ser un socio para que el deportista, empresa y/o institución deportiva alcance sus metas. 
						p Somos una empresa perua na especializada en el management deportivo, con ganas en nuestra labor: colaborar con el desarrollo del deporte y de nuestros clientes.
						p HGP ofrece servicios para la elaboración y ejecución de proyectos en empresas e instituciones ligadas al deporte, tanto privadas como públicas, como clubes o federaciones, y a profesionales del deporte en cualquier disciplina. Todos ellos, tanto a nivel nacional como internacional.
						p Sabemos que el deporte, además de ser una industria, es una herramienta clave para el desarrollo social, cultural y económica de un país. Esa es nuestra filosofía.”
					h3.n--text_red Encargado HGP
					.n_link.n--popup
						p
							|Hernán Gómez Pretto
							a(href="") leer más
					h3.n--text_red Socios Estrategicos
					ul.nosotros_list.n--list
						li Social Coach (Argentina)
						li Ricardo Mituti (Brasil)
						li LFM Sports Agency (Argentina)
						li Asociación Cultural de Futbol Peruano (Perú)
				figure.nosotros_fig.n--img_right
					img(src="assets/img/img_nosotros1.png", width='365', height='544')
		section.elegirnos_block.ee--block_azul.section--anima_box
			span.ee-linea_right
			span.ee-linea_right2
			span.ee-linea_right3
			.ee-envolver_box
				.elegirnos_flex.ee--flex_center
					span.ee-title PROPOSITOS
					main.elegirnos_main.e--main_center
						.elegrnos_info.ee--info_center
							h2 ¿Por qué elegirnos?
							p Lorem ipsum dolor sit amet, ante wisi erat et vestibulum semper. Lacus cum et, duis dis viverra vestibulum sed viverra.
						.ee-itemsinner
							-for (var i = 0; i < 4; i++)
								.elegirnos_itm.ee--itm--style
									figure.ee-img
										img(src="assets/img/img-elegi1.png", width='114', height='114')
									.elegirnos_text.ee--textbox
										h3 Deportivo
										p Ser un actor activo para desarrollar deporte nacional y, de esta manera, ser competitivo a nivel internacional.
		section.servicios_block.ss--height_full
			.servicios_main.ss-main_center
				.ss--info
					h2 Nuestros Servicios
				.ss-slider
					ul.slidr--home_js
						-for (var i = 0; i < 4; i++)
							li
								.ss-itm
									figure.ss--img
										img(src="assets/img/ss-img1.png", width='336', height='330')
									.ss--itm_info
										h3 FEDERACIONES, CLUBES Y ORGANIZACIONES DEPORTIVAS EN GENERAL
										ul
											li - Asesoria Comercial /Marketing
											li - Asesoria Comercial /Marketing
											li - Asesoria Comercial /Marketing
											li - Asesoria Comercial /Marketing
											li - Asesoria Comercial /Marketing
										.servicios_btn.ss--bt_red
											a(href="") CONTACTANOS
					#slider_home--prev
					#slider_home--next
	append scripts
		script.
			$(function() {
				$('.ee--itm--style').each(function(index, el){
					$(el).css('transition-delay', index/2 + 's');
				});
				$('.section--anima_box').each(function(index, el) {
					$(el).waypoint(function(direction) {
						if (direction === 'down') {
							$(el).addClass('active');
						}
					}, {
						offset:'30%'
					});
				});
			});