extends ./_common/base.pug

block content
	.video__slider
		ul.video__slider__pitcher
			- for (var x = 0; x < 2; x++)
				li.video__slider_item(style=`background-image: url('${STATIC_URL}img/video__slider__fondo.jpg')`)
					article.video__slider_content
						.video__slider__title
							h2 Personalidades del Deporte
						.video__slider_wrap
							.video__slider__textarea
								.video__slider__subtitle
									h3 JAVIER <strong>MASCHERANO</strong>
								.video__slider__list
									ul
										li Jugador del FC Barcelona (España)
										li Seleccionado Argentino de futbol.
							a(href="https://www.youtube.com/watch?v=meBbDqAXago").video__slider__play
								span.video__slider__playcircle
									span.video__slider__playtext VER VIDEO
									span.video__slider__playicon
					.video__slider__textfoot
						h3 MASCHERANO