.b1
	overflow: hidden	
	ul li
		width: 100%
		height: 100vh
		background-size: cover
		background-repeat: no-repeat
		background-position: center center
	.bx-wrapper .bx-pager
		font-family: $t-4
		bottom: 0	
	.bx-wrapper .bx-pager.bx-default-pager a
		background: none
		width: inherit
		height: inherit
		font-size: 35px
		bottom: 0
		text-indent: 1px
		position: absolute
		z-index: 50
		right: 35%	
		color: white
.b1-info
	height: 100%
	display: flex
	position: relative
	align-items: center
	&:before
		content: ''
		display: block
		width: 930px
		height: 100%
		background: url(../img/bgc_ctn.png) 0px 0px no-repeat
		background-size: contain
		position: absolute
		top: 0
		bottom: 0
		margin: auto
		left: -85px
.b1-flex	
		position: relative
		max-width: 460px
		padding-left: 6%	
		min-height: 185px 	
		h2
				font-size: 30px
				
				text-align: left
				color: white
@media screen and (max-height: 580px)
		.b1-info
			
			&:before
				display: none
			
		.b1-bgc-image
			position: relative
			&:after
				content: ""
				width: 100%
				height: 100%
				background: rgba(0, 0, 0, 0.36)
				position: absolute	
				top: 0
				left: 0		
		.b1-flex
			z-index: 5
			width: 100%	
			max-width: 740px
			margin: auto
			text-align: center	
			padding-left: 0	
			min-height: 0
			h2
				text-align: center	
@media screen and (max-width: 980px)
	.b1-info
		&:before
			display: none
	.b1-bgc-image
			position: relative
			&:after
				content: ""
				width: 100%
				height: 100%
				background: rgba(0, 0, 0, 0.36)
				position: absolute	
				top: 0
				left: 0	
	.b1-flex
			z-index: 5
			width: 100%	
			max-width: 740px
			margin: auto
			text-align: center	
			padding-left: 0	
			min-height: 0
			h2
				text-align: center	
				font-size: 25px	
	.b1
		.bx-wrapper .bx-pager.bx-default-pager a
			right: 0
			left: 0		
