.b11-fancy
	@media (min-width: 980px)
		.modal-dialog
			max-width: 932px
.modal-header
	display: block
	text-align: right
	border: none
button.close
	color: #ce1c1c
	opacity: inherit
	font-size: 29px
.modal-content
	border-radius: 0
.b11-fancy2
	@media (min-width: 980px)
		.modal-dialog
			max-width: 575px

.b11-wrapp
	padding-top: 50px
	padding-bottom: 60px
.b11-content
	display: flex
	flex-direction: column
	text-align: center	
	h2
		color: #2249b6
		font-size: 43px
		font-family: $t-4
	h3
		font-size: 21px
		font-family: $t-1	
		padding-top: 33px
		padding-bottom: 18px
	p
		font-size: 21px	
		font-family: $t-1
		max-width: 530px
		margin: auto
.b11-content2
	display: flex
	flex-direction: column
	text-align: center	
	h2
		color: #2249b6
		font-size: 35px
		font-family: $t-4
		margin: auto
	span
		display block
		color: #2249b6
		max-width: 370px
		font-size: 35px
		font-family: $t-4
	h3
		font-size: 21px
		font-family: $t-1	
		padding-top: 33px
		padding-bottom: 18px
	p
		font-size: 21px	
		font-family: $t-1
		max-width: 530px
		margin: auto
		padding-top: 50px
	.b11-wrapp
		padding-top: 47px
		padding-bottom: 110px
	img
		max-width: 100%
		height: auto
		display: block
	
@media screen and (max-width: 980px)
	.b11-content2
		h2, span
			font-size: 25px
		p
			font-size: 14px
			padding-top: 20px