
.b6
	background-image:  url(../img/gracias_bgc.png)
	width: 100%
	background-repeat: no-repeat
	background-position: center center
	background-size: cover
	position: relative
	height: 100vh
	
	
.b6-texto
	height: 100vh
	display: flex
	justify-content: center
	align-items: center
	flex-direction: column
	h2
		font-size: 70px
		color: $blanco
		
		font-family: $t-4
	h3
		font-size: 16px
		color: $blanco
		font-family: $t-1
		margin-top: 5px
	p
		color: $blanco

		font-size: 16px
		font-family: $t-1 
		max-width: 444px
		text-align: center
		margin: auto
		padding-top: 80px

.b6-content
	text-align: center
	width: 45%
	position: relative
	.carta-peque-top
		color: $blanco
		font-size: 65px
		position: absolute
		right: 0
		bottom: 80%
	.carta-grande-top
		color: $blanco
		font-size: 44px
		right: -7%
		position: absolute
		bottom: 60%
	.carta-grande-bottom
		color: $blanco
		font-size: 44px
		top: 100%
		left: 0
		position: absolute
	.carta-peque-bottom
		color: $blanco
		font-size: 65px
		bottom: -100px
		left: 5%
		position: absolute
		
.b6-fondo
	position: absolute
	left: 0
	right: 0
	top: -40px
	padding-bottom: 35px
	background: rgba(255, 255, 255, 0.05)
	h2
		font-size: 170px
		font-family: $t-5
		color: rgba(255, 255, 255, 0.04)
	
@media screen and (max-width: 1500px)
	.b6-fondo	
		h2
			font-size: 120px	
@media screen and (max-width: 1024px)
	.b6-content 
		.carta-grande-top
			font-size: 36px
			bottom: 67%
		.carta-peque-top
			font-size: 50px
			bottom: 80%
@media screen and (max-width: 980px)
	.b6-texto 
		p
			padding-top: 40px
	.b6-content 
		.carta-peque-top
			display: none

		.carta-grande-top
			display: none
		.carta-grande-bottom
			display: none 
		.carta-peque-bottom
			left: 0
			right: 0
	.b6-fondo
		top: -10px
		h2
			font-size: 90px
@media screen and (max-width: 768px)
	.b6-texto
		h2
			font-size: 50px
	.b6-texto 
		p
			padding-top: 20px
	.b6-content
		width: 100%
// @media screen and (max-width: 1200px)
// 	h1
// 		color: red
// @media screen and (max-width: 1000px)
// 	h1
// 		color: blue
// @media screen and (max-width: 768px)
// 	h1
// 		color: peru
// @media screen and (max-width: 500px)
// 	h1
// 		color: yellow
