/*CONFIAN EN NOSOTROS - LOGOS*/

.content_nosotros_logos
	max-width: 1200px
	width: 100%
	margin: auto
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	.text_nosotros
		max-width: 250px
		width: 100%
		margin: auto
		h2
			font-family: $t-4
			font-size: 43px
			color: $c-0
		p
			font-family: $t-1
			font-size: 15px
			color: $c-2
		.logos_next_prev
			display: flex
			flex-direction: row
			flex-wrap: wrap
			justify-content: flex-start
			span
				display: block
				width: 36px
				height: 36px
				position: relative
				overflow: hidden
				background: none
				text-indent: 0
				border: 1px solid $c-1
				border-radius: 50%
				z-index: 70
				margin-top: 19px
				transition: all 0.2s linear
				cursor: pointer
				&:before
					display: inline-block
					line-height: 36px
					color: $c-0
					font-family: 'icomoon'
					font-size: 15px
					text-align: center
					position: absolute
					top: 0
					left: 0
					right: 0
					bottom: 0
					margin: auto
					transition: all 0.2s linear
				&:after
					display: inline-block
					line-height: 36px
					color: $c-0
					font-family: 'icomoon'
					font-size: 15px;
					text-align: center;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					margin: auto;
					transition: all 0.2s linear
			.icon-prev
				&:before
					content: '\e607'
					font-size: 35px
				&:after
					content: '\e607'
					font-size: 35px
			.icon-next
				&:before
					content: '\e606'
					font-size: 35px
				&:after
					content: '\e606'
					font-size: 35px
			@media screen and (min-width: 1025px)
				.icon-prev:hover
					&:before
						animation: anima_flecha_1a 0.3s ease 0.2s
						color: $c-0
					&:after
						animation: anima_flecha_1b 0.3s ease 0.2s
						color: $c-0
				.icon-next:hover
					&:before
						animation: anima_flecha_2a 0.3s ease 0.2s
						color: $c-0
					&:after
						animation: anima_flecha_2b 0.3s ease 0.2s
						color: $c-0
	.content_g_logos
		max-width: 800px
		width: 100%
		margin: auto
		.content_logos
			display: flex
			flex-direction: row
			flex-wrap: wrap
			justify-content: flex-start
			.marcas
				width: 160px
				height: 160px
				margin: 10px 20px
				overflow: hidden
				position: relative
				text-align: center
				img
					width: 100%
					height: auto
					display: block
					position: relative
				.mask
					width: 160px
					height: 160px
					overflow: hidden
					position: absolute
					top: 0
					left: 0
					padding: 50px 0px
					filter: alpha(opacity=0)
					opacity: 0
					background-color: rgba(0,0,0, 0.7)
					transition: all 0.4s ease-in-out
					.logos_icon_info
						color: $blanco
					a.info
						font-family: $t-1
						color: $blanco
						font-size: 14px
						cursor: pointer
			.logos
				&:hover
					.mask
						filter: alpha(opacity=100)
						opacity: 1
							
/*CONTACTO*/
.seccion_contacto
	background-image: url(../img/fondo_contacto.png)
	width: 100%
	background-repeat: no-repeat
	background-size: cover
	.contacto_content_info
		max-width: 1200px
		width: 100%
		margin: auto
		padding: 100px 0px 30px 0px
		.contacto_title
			h2
				font-family: $t-4
				font-size: 45px
				text-align: center
				padding-bottom: 50px
				color: $blanco
		.contacto_info
			display: flex
			flex-direction: row
			flex-wrap: wrap
			justify-content: center
			.info
				padding: 0 70px
				p
					font-family: $t-2
					font-size: 24px
					margin-bottom: 0px
					color: $blanco
				span
					font-family: $t-4
					font-size: 38px
					color: $blanco
		.contacto_form
			max-width: 600px
			width: 100%
			margin: auto
			padding: 50px 0px
			text-align: center
			.content_input
				padding-bottom: 10px
				input
					height: 45px
					font-size: 15px
					font-family: $t-1
					color: $c-2
					border-radius: 0px
			.content_textarea
				padding-bottom: 32px
				textarea
					height: 106px
					font-size: 15px
					font-family: $t-1
					color: $c-2
					border-radius: 0px
		.derechos_staffdigital
			text-align: center
			padding: 10px 0px
			p
				font-family: $t-1
				font-size: 14px
				color: $blanco

+keyframes(anima_flecha_1a)
	0%
		transform: translate3d(0, 0, 0)
	100%
		transform: translate3d(-50px, 0, 0)
+keyframes(anima_flecha_1b)
	0%
		transform: translate3d(50px, 0, 0)
	100%
		transform: translate3d(0, 0, 0)
+keyframes(anima_flecha_2a)
	0%
		transform: translate3d(0, 0, 0)
	100%
		transform: translate3d(50px, 0, 0)
+keyframes(anima_flecha_2b)
	0%
		transform: translate3d(-50px, 0, 0)
	100%
		transform: translate3d(0, 0, 0)

@media screen and (max-width: 856px)
	.content_nosotros_logos
		width: 90%
		.text_nosotros
			max-width: 500px
			text-align: center
			h2
				font-size: 28px
			p
				font-size: 14px
	.seccion_contacto
		.contacto_content_info
			width: 90%
			padding: 50px 0px 10px 0px
			.contacto_title
				h2
					font-size: 28px
					padding-bottom: 15px
			.contacto_info
				text-align: center
				.info
					padding: 12px 25px
					p
						font-size: 20px
					span
						font-size: 22px
			.contacto_form
				padding: 40px 0px
				.content_input
					input
						height: 40px
				.content_textarea
					textarea
						height: 90px
			.derechos_staffdigital
				p
					font-size: 12px
