.modal__1.active
	.modal__1__overlay
		opacity: .7
		visibility: visible
		z-index: 1200
	.modal__1__block
		opacity: 1
		visibility: visible
		z-index: 1400
.modal__1__overlay
	display: block
	width: 100%
	height: 100%
	background: $negro
	position: fixed
	top: 0
	left: 0
	z-index: -1
	opacity: 0
	visibility: hidden
	transition: height .2s ease-in-out
.modal__1__block
	display: flex
	flex-direction: column
	justify-content: center 
	max-width: 932px
	width: 100%
	max-height: 463px
	height: 100%
	background: $blanco
	position: fixed
	top: 50%
	left: 50%
	z-index: -1
	transform: translate3d(-50%,-50%,0)
	opacity: 0
	visibility: hidden
	transition: transform .2s ease	
	box-sizing: border-box
	padding: 50px 15px
	margin: auto
.modal__1__content
	max-width: 570px
	width: 100%
	text-align: center
	overflow: auto
	box-sizing: border-box
	padding: 50px 15px
	margin: auto
.modal__1__close
	display: block
	width: 34px
	height: 34px
	line-height: 34px
	background: $blanco
	color: $c-1
	font-size: 34px
	text-align: center
	position: absolute
	top: 45px
	right: 45px
	cursor: pointer
.modal__1__title
	margin-bottom: 40px
	h1
		color: $c-0
		font-family: $t-4
		font-weight: normal
		font-size: 43px
		margin-bottom: 0
.modal__1__text
	line-height: 1.2
	color: $c-2
	font-family: $t-1
	font-size: 21px
	p
		margin-bottom: 15px
		&:last-child
			margin-bottom: 0

// responsive
@media screen and (max-width: 767px)
	.modal__1__block
		max-height: none
	.modal__1__content
		padding: 30px 15px
	.modal__1__title
		h1
			font-size: 26px
	.modal__1__text
		font-size: 16px