// +++ css arrows personalizados slider +++
.video__slider
	a:hover
		text-decoration: none
	.bx-wrapper .bx-controls-direction a
		text-indent: 0px
		margin: 0
	.bx-wrapper .bx-prev
		width: 134px
		height: 34px
		left: 3%
		transform: translateY(-50%)
		transition: all 2s 1s cubic-bezier(.19,1,.22,1), margin-right 2s cubic-bezier(.19,1,.22,1), margin-left 2s cubic-bezier(.19,1,.22,1), transform 2s cubic-bezier(.19,1,.22,1)
		&:after
			content: ""
			width: 91px
			height: 1px
			background: $blanco
			position: absolute
			transition: all 2s .1s cubic-bezier(0.19, 1, 0, 1.01)
			top: 50%
			left: 43px
			margin-top: -.5px
		@media screen and (min-width: 1025px)
			&:hover
				transform: translateY(-50%) scale(.9)
				&:after
					width: 50px
					left: 24px
	.bx-wrapper .bx-next
		width: 274px
		height: 274px
		border: 1px solid $blanco
		border-radius: 50%
		right: -138px
		transform: translateY(-50%)
		transition: all 2s 1s cubic-bezier(.19,1,.22,1), margin-right 2s cubic-bezier(.19,1,.22,1), margin-left 2s cubic-bezier(.19,1,.22,1), transform 2s cubic-bezier(.19,1,.22,1)
		@media screen and (min-width: 1025px)
			&:hover
				transition-delay: .1s
				transform: translateY(-50%) scale(.9)
.video__slider__icono__prev
	display: block
	width: 34px
	height: 34px
	border: 1px solid $blanco
	border-radius: 50%
	box-sizing: border-box
	line-height: 32px
	color: $blanco
	font-size: 18px
	text-align: center
	margin-left: 0
	margin-right: auto
.video__slider__icono__next
	display: block
	width: 100%
	height: 100%
	line-height: 274px
	color: $blanco
	font-size: 18px
	text-indent: 70px
// --- end ---

// +++ efecto play +++
+keyframes(efecto_pulse_play)
	0%
		transform: translate3d(-50%,-50%,0)scale(1)
		opacity: 1
	100%
		transform: translate3d(-50%,-50%,0)scale(1.7)
		opacity: 0
// --- end ---

.video__slider
	height: 650px
	overflow: hidden
.video__slider_item
	width: 100%
	height: 650px
	background-position: center center
	background-repeat: no-repeat
	background-size: cover
	position: relative
	&:before
		content: ""
		display: block
		width: 100%
		height: 100%
		background: $c-0
		position: absolute
		top: 0
		left: 0
		opacity: .4
.video__slider_content
	max-width: 1100px
	width: 95%
	position: relative
	z-index: 2
	padding-top: 85px
	margin: 0
	margin-left: auto
	margin-right: auto
.video__slider__title
	margin-bottom: 50px
	h2
		color: $blanco
		font-family: $t-4
		font-weight: normal
		font-size: 45px
		text-align: center
		margin-bottom: 0
.video__slider_wrap
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: space-between
.video__slider__textarea
	width: 440px
.video__slider__subtitle
	margin-bottom: 30px
	h3
		color: $blanco
		font-family: $t-4
		font-size: 46px
		margin-bottom: 0
	strong
		display: block
		font-weight: normal
		padding-left: 40px
.video__slider__list
	li
		color: $blanco
		font-family: $t-1
		font-size: 20px
		border-bottom: 1px solid $blanco
		padding-top: 15px
		padding-bottom: 15px
.video__slider__play
	display: block
	width: 383px
	height: 383px
	border: 1px solid $blanco
	border-radius: 50%
	position: relative
	margin: 0
.video__slider__playcircle
	display: block
	width: 117px
	height: 117px
	background: $c-1
	border-radius: 50%
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	margin: 0
	margin: auto
	&:before, &:after
		content: ""
		display: block		
		width: 100%
		height: 100%
		border: 1px solid $blanco
		box-sizing: border-box
		border-radius: 50%
		position: absolute
		top: 50%
		left: 50%
		transform: translateX(-50%) translateY(-50%)
		animation: efecto_pulse_play 2.6s cubic-bezier(.25,.9,.2,1) 0.4s infinite		
	&:after
		animation: efecto_pulse_play 2.6s cubic-bezier(.25,.9,.2,1) 0s infinite
.video__slider__playtext
	display: block
	line-height: 1
	color: $blanco
	font-family: $t-1
	font-size: 14px
	text-align: center
	position: absolute
	top: -55px
	left: 0
	right: 0
	margin: auto
.video__slider__playicon
	width: 0;
	height: 0;
	border-style: solid
	border-width: 17.5px 0 17.5px 24px
	border-color: transparent transparent transparent $blanco
	position: absolute
	top: 0
	left: 1%
	right: 0
	bottom: 0
	margin: auto
.video__slider__textfoot
	opacity: .1
	position: absolute
	left: 0
	bottom: 25px
	h3
		color: $blanco
		font-family: $t-5
		font-size: 218px
		margin-bottom: 0

// responsive
@media screen and (max-width: 1600px)
	// +++ css arrows personalizados slider +++
	.video__slider
		.bx-wrapper .bx-prev
			width: 104px
			left: 10px
			&:after
				width: 60px
		.bx-wrapper .bx-next
			width: 200px
			height: 200px
			right: -100px
	.video__slider__icono__next
		line-height: 200px
		text-indent: 40px
	// --- end ---

	.video__slider_content
		max-width: 960px

@media screen and (max-width: 1460px)
	.video__slider,
	.video__slider_item
		height: 550px
	.video__slider_content
		max-width: 768px		
	.video__slider__title
		h2
			font-size: 40px
	.video__slider__subtitle
		h3
			font-size: 40px	
	.video__slider__list
		li
			font-size: 18px
			padding-top: 10px
			padding-bottom: 10px
	.video__slider__play
		width: 250px
		height: 250px
	.video__slider__playcircle
		width: 80px
		height: 80px
	.video__slider__playtext
		top: -40px
	.video__slider__playicon
		border-width: 10.5px 0 10.5px 18px
	.video__slider__textfoot
		h3
			font-size: 120px

@media screen and (max-width: 1024px)
	.video__slider_content
		padding-top: 70px
	.video__slider__title
		h2
			font-size: 32px
	.video__slider_wrap
		max-width: 670px
		width: 100%
		margin: 0 auto
	.video__slider__textarea
		width: 350px
	.video__slider__subtitle
		h3
			font-size: 32px
	.video__slider__list
		li
			font-size: 16px

@media screen and (max-width: 960px)
	// +++ css arrows personalizados slider +++
	.video__slider
		.bx-wrapper .bx-prev, .bx-wrapper .bx-next
			width: 34px
			height: 34px
		.bx-wrapper .bx-prev
			&:after
				display: none
		.bx-wrapper .bx-next
			right: 10px
	.video__slider__icono__next
		line-height: 32px
		text-align: center
		box-sizing: border-box
		text-indent: 0
	// --- end ---

	.video__slider,
	.video__slider_item
		height: 450px
	.video__slider_content
		display: flex
		flex-direction: column
		justify-content: center
		height: 100%
		box-sizing: border-box
		padding: 30px 50px
	.video__slider_wrap
		flex-direction: column
	.video__slider__textarea
		width: 100%
	.video__slider__play
		width: 100%
		height: auto
		border: none
	.video__slider__playcircle
		width: auto
		height: auto
		background: none
		position: static
		&:before,
		&:after
			display: none
	.video__slider__playtext
		display: inline-block	
		text-align: left
		border-bottom: 1px solid $blanco
		position: static
		padding-bottom: 2px
		margin-top: 30px
	.video__slider__playicon
		display: none
	.video__slider__textfoot
		display: none

@media screen and (max-width: 767px)
	// +++ css arrows personalizados slider +++
	.video__slider .bx-wrapper .bx-controls-direction a
		display: none
	// --- end ---

	.video__slider_content
		padding: 0
	.video__slider__title
		margin-bottom: 30px
		h2
			font-size: 26px
	.video__slider__subtitle
		margin-bottom: 15px
		h3
			font-size: 24px
		strong
			padding-left: 20px
	.video__slider__list
		li
			font-size: 15px