.section--anima_box
	&.active
		.n--title_right
			opacity: .20
			visibility: visible
		.n--img_right
			opacity: 1
			transform: translateX(0px)
		.ee--itm--style
			transform: translateY(0px)
			opacity: 1
			visibility: visible
.ww--overflow
	overflow: hidden
.nn--height_full
	height: 100vh
	display: flex
	justify-content: center
.n--center
	max-width: 1255px
	width: 100%
	padding-left: 10px
	padding-right: 10px
	box-sizing: border-box
	padding-top: 140px
	padding-bottom: 90px
	display: flex
	justify-content: flex-start
	flex-wrap: wrap
	position: relative
	margin: auto
.n--infoleft
	width: 70%
.n--img_right
	width: 25%
	margin-left: 5%
	opacity: 0
	transform: translateX(100px)
	transition: all .3s
	img
		width: 100%
		height: auto
		display: block
.n--title_right
	font-size: 236px
	font-family: $t-5
	color: #c5cfec
	opacity: .20
	position: absolute
	top: 50px
	right: -235px
	line-height: 165px
	opacity: 0
	visibility: hidden
	transition: all .3s

.n--subtitle
	font-size: 43px
	color: $c-0
	margin-bottom: 38px
	position: relative
.n--contenido
	font-size: 17px
	color: $c-2
	margin-bottom: 25px
.n--text_red
	color: $c-1
	font-size: 20px
	font-weight: normal
	font-family: $t-0	
	margin-bottom: 25px
.n_link.n--popup
	font-size: 23px
	color: $c-2	
.n--list
	padding-left: 15px
	li
		font-size: 15px
		font-family: $t-1
		list-style-type: disc
		color: $c-2


@media screen and (max-width: 1400px)
	.nn--height_full
		height: auto
	.n--title_right
		font-size: 165px
@media screen and (max-width: 1200px)
	.n--title_right
		font-size: 200px
@media screen and (max-width: 1024px)
	.n--title_right
		font-size: 150px
		right: 0
	.n--img_right
		display: none
	.n--infoleft
		width: 100%
	.n--subtitle
		font-size: 30px
@media screen and (max-width: 640px)
	.n--contenido
		font-size: 14px
	.n--subtitle
		font-size: 25px	

/*SEGUNDA SECCION*/
.ee-linea_right, .ee-linea_right2
	position: absolute
	top: 40%
	right: -60%
	width: 105%
	height: 1px
	background: #fff
	display: block
	transform: rotate(55deg)
	z-index: 20
	opacity: .2
.ee-linea_right2
	top: 60%
.ee-linea_right3
	width: 105%
	height: 1px
	background: #fff
	display: block
	position: absolute
	bottom: 0
	left: -30%
	transform: rotate(55deg)
	z-index: 20
	opacity: .2
.ee--block_azul
	position: relative
	width: 100%
.ee-envolver_box
	background: $c-3
	position: relative
	padding: 127px 0px
	transform: rotate(-3deg)
	height: 100vh
	box-sizing: border-box
	&:before, &:after
		content: ''
		display: block
		position: absolute
		top: 0
		background: $c-3
		width: 100%
		height: 100%
	&:before
		left: -99%
	&:after
		right: -99%	
.e--main_center
	max-width: 1215px
	width: 100%
	padding-left: 10px
	padding-right: 10px
	box-sizing: border-box
	margin: auto
	text-align: center
	transform: rotate(3deg)
.ee--flex_center
	height: 100%
	display: flex
	align-items: center
	justify-content: center
.ee-title
	font-size: 280px
	color: $blanco
	opacity: .2
	position: absolute
	bottom: 0
	left: 0
	line-height: 230px
	display: inline-block
	transform: rotate(3deg)
	font-family: $t-5
	z-index: 25
.ee--info_center
	color: $blanco
	max-width: 580px
	margin: auto
	margin-bottom: 40px
	h2
		font-size: 45px
		margin-bottom: 25px
.ee-itemsinner
	display: flex
	flex-wrap: wrap
.ee--itm--style
	width: 25%
	padding: 0px 20px
	box-sizing: border-box
	opacity: 0
	visibility: hidden
	transition: all .3s
	transform: translateY(-100px)
	&:nth-child(1)
		.ee-img
			background: url('../img/b1-1.png') 0px 0px no-repeat
	&:nth-child(2)
		.ee-img
			background: url('../img/b1-2.png') 0px 0px no-repeat
	&:nth-child(3)
		.ee-img
			background: url('../img/b1-3.png') 0px 0px no-repeat
	&:nth-child(4)
		.ee-img
			background: url('../img/b1-4.png') 0px 0px no-repeat
.ee-img
	width: 165px
	height: 165px
	line-height: 165px
	text-align: center
	display: flex
	justify-content: center
	margin-bottom: 25px
.ee--textbox
	color: $blanco
	font-size: 17px
	font-family: $t-1
	h3
		font-size: 22px
		font-weight: normal
		margin-bottom: 25px
@media screen and (max-width: 1400px)
	.ee-envolver_box
		height: auto
	.ee-title
		font-size: 165px
@media screen and (max-width: 870px)
	.ee--itm--style
		width: 50%
		margin-bottom: 30px
	.ee-title
		font-size: 150px
	.ee-title
		bottom: -50px
	.ee--info_center
		h2
			font-size: 25px
@media screen and (max-width: 640px)
	.ee--itm--style
		width: 100%

/*TERVERA SECCION*/
.ss--height_full
	width: 100%
	height: 100vh
	display: flex
	justify-content: center
	align-items: center
.ss-main_center
	max-width: 1090px
	width: 100%
	padding-left: 10px
	padding-right: 10px
	margin: auto
.ss--info
	h2
		margin-bottom: 48px
		color: $c-3
		font-size: 43px
		font-weight: normal
		font-family: $t-4
.ss-slider
	width: 100%
	position: relative
	li
		width: 100%
.ss-itm
	flex-wrap: wrap
	display: flex
.ss--img
	width: 30%
	img
		width: 100%
		height: auto
		display: block
.ss--itm_info
	margin-left: 5%
	width: 65%
	h3
		font-size: 24px
		color: $c-2
		font-family: $t-2
		font-weight: normal
		margin-bottom: 40px
	ul
		li
			font-size: 21px
			color: $c-2	
.ss--bt_red
	margin-top: 40px
	a
		padding: 0px 20px
		background: $c-1
		height: 44px
		line-height: 44px
		display: inline-block
		color: $blanco
		font-size: 14px
		text-decoration: none
#slider_home--next, #slider_home--prev
	position: absolute
	top: 50%
	z-index: 100
	display: inline-block
	font-size: 30px
	a
		width: 35px
		height: 35px
		line-height: 35px
		text-align: center
		border-radius: 50%
		border: 1px solid $c-1
		display: block
		text-decoration: none
		&:after
			content: ''
			position: absolute
			top: 0
			bottom: 0
			margin: auto
			width: 90px
			height: 1px
			background: $c-1
			display: block
			transition: all .4s
		&:before
			content: ''
			display: block
			font-size: 30px
			font-family: $icomoon
			color: $c-4
		&:hover
			&:after
				width: 40px
#slider_home--next
	right: -100px
	a:before
		content: '\e606'
	a
		&:after
			left: 130%
		&:hover
			&:after
				left: 70%
#slider_home--prev
	left: -100px
	a:before
		content: '\e607'
	a
		&:after
			right: 130%
		&:hover
			&:after
				right: 70%
@media screen and (max-width: 1400px)
	.ss--height_full
		height: auto
	.ss-main_center
		padding-top: 100px
		padding-bottom: 70px
@media screen and (max-width: 960px)
	.ss--itm_info h3
		font-size: 25px
@media screen and (max-width: 768px)
	.ss--img
		display: none
	.ss--itm_info
		width: 100%
		margin-left: 0
@media screen and (max-width: 640px)
	.ss--info
		h2
			font-size: 25px
	.ss--itm_info
		h3
			font-size: 20px