// FONTS
// -----

@font-face
  font-family: 'ProximaNova-Light'
  src: url('../fonts/ProximaNova-Light.eot')
  src: url('../fonts/ProximaNova-Light.woff2') format("woff2"), url('../fonts/ProximaNova-Light.woff') format("woff"), url('../fonts/ProximaNova-Light.ttf') format("truetype"), url('../fonts/ProximaNova-Light.svg#ProximaNova-Light') format("svg"), url('../fonts/ProximaNova-Light.eot?#iefix') format("embedded-opentype")
  font-weight: normal
  font-style: normal

@font-face 
	font-family: 'ProximaNova-Bold'
	src: url('../fonts/ProximaNova-Bold.eot')
	src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),	url('../fonts/ProximaNova-Bold.woff2') format('woff2'),	url('../fonts/ProximaNova-Bold.woff') format('woff'),	url('../fonts/ProximaNova-Bold.ttf') format('truetype'),	url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg')
	font-weight: bold
	font-style: normal


@font-face 
	font-family: 'ProximaNova-Semibold'
	src: url('../fonts/ProximaNova-Semibold.eot')
	src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),	url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),	url('../fonts/ProximaNova-Semibold.woff') format('woff'),	url('../fonts/ProximaNova-Semibold.ttf') format('truetype'),	url('../fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg')
	font-weight: 600
	font-style: normal


@font-face 
	font-family: 'ProximaNova-Regular'
	src: url('../fonts/ProximaNova-Regular.eot')
	src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),	url('../fonts/ProximaNova-Regular.woff2') format('woff2'),	url('../fonts/ProximaNova-Regular.woff') format('woff'),	url('../fonts/ProximaNova-Regular.ttf') format('truetype'),	url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg')
	font-weight: normal
	font-style: normal

@font-face 
	font-family: 'Titillium-Bold'
	src: url('../fonts/Titillium-Bold.eot')
	src: url('../fonts/Titillium-Bold.eot?#iefix') format('embedded-opentype'),	url('../fonts/Titillium-Bold.woff2') format('woff2'),	url('../fonts/Titillium-Bold.woff') format('woff'),	url('../fonts/Titillium-Bold.ttf') format('truetype'),	url('../fonts/Titillium-Bold.svg#Titillium-Bold') format('svg')
	font-weight: normal
	font-style: normal

@font-face 
	font-family: 'Titillium-BoldItalic'
	src: url('../fonts/Titillium-BoldItalic.eot')
	src: url('../fonts/Titillium-BoldItalic.eot?#iefix') format('embedded-opentype'),	url('../fonts/Titillium-BoldItalic.woff2') format('woff2'),	url('../fonts/Titillium-BoldItalic.woff') format('woff'),	url('../fonts/Titillium-BoldItalic.ttf') format('truetype'),	url('../fonts/Titillium-BoldItalic.svg#Titillium-BoldItalic') format('svg')
	font-weight: normal
	font-style: normal





